@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to microtransaction</h1>
    <p>Buy, sell, and trade in the value of your favorite video games.</a>.</p>
</div>
